Options -Indexes +FollowSymLinks

<FilesMatch ".(eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>

AddDefaultCharset utf-8
AddType text/x-component .htc

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A86400
	ExpiresByType image/x-icon A2419200
	ExpiresByType image/gif A604800
	ExpiresByType image/png A604800
	ExpiresByType image/jpeg A604800
</IfModule>
