html, body {
    font-family: verdana, sans-serif;
    font-size: 11px;
    color: #000;
    margin: 0;
    padding: 0;
}

form {
    display: none;
}

img {
    border: 0;
}

p {
    clear: both;
    margin: 0 0 10px 0;
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 17px;
    margin: 10px 0 10px 0;
    padding: 0;
}

#wrapper {
}



