@media screen and (max-width: 899px) {
    html, body {
        font-size: 100%;
        overflow: visible;
        background-color: #FFF;
        min-width: 0 !important;
    }

    section#cosmos, header #unfold, div#speech, div#theme-selector {
        display: none !important;
    }

    section#content {
        left: 0;
        margin-left: 0;
        width: 100% !important;
        min-height: 750px !important;
    }

    #awwwards {
        display: none !important;
    }
}

@media screen and (max-width: 630px) {
    header hgroup {
        width: 100%;
    }

    section#content {
        min-height: 1100px !important;
    }

    header hgroup {
        float: none;
    }

    header ul#personal-information {
        float: none;
        margin-top: 20px;
    }

    ul#language-selector {
        top: 26px;
    }

    article {
        top: 110px !important;
        clear: both;
    }

    article ul#social-media li {
        float: none;
        margin-bottom: 10px;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 460px) {
    article {
        text-align: left;
    }

    article div {
        min-height: 0;
    }
}

@media screen and (max-width: 360px) {
    header, article {
        padding-left: 20px;
        padding-right: 20px;
        width: 280px;
        overflow-x: hidden;
    }

    header ul#personal-information li {
        min-width: 120px;
    }

    ul#language-selector {
        right: 20px;
    }
}
