html, body {
    font-family: verdana, sans-serif;
    font-size: 11px;
    color: #000;
    margin: 0;
    padding: 0;
}

p {
    clear: both;
    margin: 0 0 10px 0;
}

h1, h2, h3 {
    font-family: helvetica, sans-serif;
    font-size: 17px;
    margin: 10px 0 10px 0;
    padding: 0;
}

section#cosmos,
header #unfold,
div#speech,
article #social-media,
article a.back {
    display: none;
}

header ul#personal-information {
    padding: 0;
    margin: 0;
}

header ul#personal-information li {
    display: inline;
}
